<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <div class="" id="">
    <img src="../static/logo_curso.png">
    </div>
    <div class="itemHeader" id="menuContainer">
      <nav>
        <li><a href="">Inicio</a></li>
      </nav>
    </div>
    <div class="mainTitle" id="">
      <h1>Inicio</h1> 
    </div>
  </header>
  <div class="" id="">
    <h2>Form</h2> 
  </div>  
  <footer>
    <h2>Footer</h2>
  </footer>
  </body>
</html>
