<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
  <header>
    <div class="" id="">
    <img src="../static/logo_curso.png" width="50px">
    </div>
    <div class="itemHeader" id="menuContainer">
      <nav>
        <li><a href="">Inicio</a></li>
        <li><a href="">Registro</a></li>
        <li><a href="">Página 3</a></li>
        <li><a href="">Página 4</a></li>
      </nav>
    </div>
    <div class="mainTitle" id="">
      <h1>Inicio</h1> 
    </div>
  </header>
  <div class="content" id="">
    <div class="section" id="sec1">
      <h2>Seccion 1</h2>
    </div>  
    <div class="section" id="sec2">
      <h2>Seccion 2</h2>
    </div>  
    <div class="section" id="sec3">
      <h2>Seccion 3</h2>
    </div>  
    <div class="section" id="sec4">
      <h2>Seccion 4</h2>
    </div>  
  </div>
  <footer>
    <h2>Footer</h2>
  </footer>
  </body>
</html>
